.container {
    border-top: 2px solid #e77727;
    padding: 2%;
}

.label {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
}
.error{
    background-color: rgba(255, 0, 0, 0.486);
    width: 70%;
    margin-left: 15%;
}
input {
    border-radius: .5rem;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Below this is for the vacationcard */

.destinationTitle {
    font-family: 'Oswald', sans-serif;
    
}

Link {
    text-decoration: none;
}

.container {
    width: 80%;
    margin-left: 10%;
    background-image: linear-gradient(blue, purple,indigo);
}

.form {
    background-color: white;
    border-radius:2rem;

}

input {
    width: 11rem
}